<nav class="navbar navbar-expand-lg bg-body-tertiary mynavbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- <img src="../assets/logo1.png" alt="Description of image" class="img-15px"> -->
      Emi Movies
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      style="margin-left: 60px"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngFor="let action of actions" class="nav-item">
          <a
            (click)="setCurrentAction(action)"
            routerLink="{{ action.route }}"
            [class]="
              action == currentAction
                ? 'nav-link active underline '
                : 'nav-link'
            "
            aria-current="page"
            >{{ action.title }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Top IMDB</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Genre
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Country
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="isUserAuthenticated">
          <a class="nav-link" routerLink="/favorites">Favorites</a>
        </li>
      </ul>

      <div class="d-flex">
        <a
          *ngIf="!isUserAuthenticated"
          class="btn btn-outline-success"
          routerLink="/login"
          style="border-radius: 12px"
        >
          Login
        </a>

        <div *ngIf="isUserAuthenticated" class="d-flex align-items-center">
          <span class="navbar-text me-3">
            Welcome, <strong>{{ username }}</strong>
          </span>
          <a class="btn btn-outline-danger btn-sm" (click)="logout()" href="#"
            >Logout</a
          >
        </div>
      </div>

      <!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          style="border-radius: 12px"
        />
        <button
          class="btn btn-outline-success"
          type="submit"
          style="border-radius: 12px"
        >
          Search
        </button>
      </form> -->
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
