<div class="comment-section container mt-4">
  <h3 class="mb-3">Recent Comments</h3>
  <div
    *ngFor="let comment of comments"
    class="comment mb-3 p-3 bg-light rounded"
  >
    <!-- Dynamically insert comments here -->
    <p class="comment-text">{{ comment.text }}</p>
    <p class="comment-author">- {{ comment.username }}</p>
  </div>
  <!-- Repeat for more comments -->
</div>

<div class="comment-section container mt-4 mb-4">
  <h2 class="mb-4">Leave a Comment</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="usernameInput" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="usernameInput"
        placeholder="Enter your username"
        [(ngModel)]="comment.username"
        name="username"
      />
    </div>
    <div class="mb-3">
      <label for="commentTextarea" class="form-label">Your Comment</label>
      <textarea
        class="form-control"
        id="commentTextarea"
        rows="3"
        [(ngModel)]="comment.text"
        name="text"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
