.movie-component {
  cursor: pointer;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  width: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.movie-component:hover {
  transform: scale(1.05);
}
